<script>
  partytown = {
    forward: ["dataLayer.push"],
  };
</script>

{{ $js := resources.Get "js/main_partytown.js" | js.Build (dict "minify" true) }}
<script defer src="{{ $js.RelPermalink }}"></script>

<script defer type="text/partytown">
!function(e,t,a){e.dataLayer=e[s]||[],e.dataLayer.push({"gtm.start":new Date().getTime(),event:"gtm.js"});var g=t.getElementsByTagName("script")[0],r=t.createElement("script"),s="";r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id="+a+s,g.parentNode.insertBefore(r,g)}(window,document,"{{ $.Site.Params.googleTagManager.id }}");
</script>