/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#cursor-color-bg {
  height: 30vh;
  aspect-ratio: 1/1;
  position: fixed;
  left: 50%;
  top: 50%;
  transform-origin: center center;
  border-radius: 50%;
  background: #1472cbe7;
  /* Fallback for older browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#abc544), to(#1472cbe7));
  /* Firefox 3.6-15 */
  background: -moz-linear-gradient(left, #abc544, #1472cbe7);
  /* Opera 11.10-12.02 */
  background: -o-linear-gradient(left, #abc544, #1472cbe7);
  /* IE 10-11 */
  background: -ms-linear-gradient(left, #abc544, #1472cbe7);
  /* W3C, Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #abc544, #1472cbe7);

  -webkit-animation: rotate 15s linear infinite;
  -ms-animation:     rotate 15s linear infinite;
  -moz-animation:    rotate 15s linear infinite;
  -o-animation:      rotate 15s linear infinite;
  animation:         rotate 15s linear infinite;

  -webkit-filter: blur(150px);
  filter: blur(150px);
  z-index: -1;
}

#cursor-color-bg--blur {
  width: 100%;
  height: 100wh;
  position: relative;
  z-index: -1;
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
}

@keyframes spin {
  /* from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  } */
  50% {
    scale: 1 1.5;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@-moz-keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@-o-keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@-webkit-keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}