.tooltip:before {
  content: attr(tooltip-title);
  background-color: #999999;
  color: #fff;
  font-size: 2.15rem;
  border-radius: 1.25rem;
  padding: 0.7rem;
  position: absolute;
  top: -5.155rem;
  left: -11.7rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

#dark-mode-toggle:hover {
  padding: 3.5rem;
  transform: scale(1.1);
}
