#trailer-icon {
  opacity: 1;
  color: #05182a;
  margin-top: -20px;
}

#trailer-icon {
  font-size: 10px;
  line-height: 60px;
  transition: opacity 400ms ease;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 20px;

  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;

  pointer-events: none;
  opacity: 0;
  transition: opacity 600ms ease;
  display: grid;
  place-items: center;
}

body.colorscheme-dark #trailer {
  background-color: white;
}

body.colorscheme-dark .navigation a:hover,
body.colorscheme-dark .navigation a:focus {
  color: white;
}

.navigation a,
.navigation span {
  color: #05182a;
}

.navigation a:hover,
.navigation span:hover,
.list ul li .title:hover {
  color: #5252ff;
}

a:hover {
  font-size: 130%;
}

a i:hover {
  font-size: 175%;
}

.fa-2x:hover {
  font-size: 268%;
}